body{
    
    background-color: #1d1e1f;
    /* height: 100vh; */
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.images{
    position: absolute;

    bottom: 0;
    right: 0;
    /* bottom: 200px; */
    z-index: 100;
}
.start{
    display: flex;
}
.container{
    width:500px;
    height: 800px;
    position: relative;
    animation:move 2s infinite;
    transform: rotate(10deg);
    transition: 0.5s ease-in;


}
@keyframes move {
    50%{
        transform: rotate(-10deg);
    }
    
}
.santa{
    width:300px;
    height: 300px;
    background-color: white;
    border-radius: 0 50% 50% 50%;
    position: absolute;
    top: 270px;
    left:200px;
    transform: rotate(225deg);
  

}

.face{
    width: 221px;
    height: 80px;
    border-radius: 35px;
    background-color: pink;
    position: absolute;
    top: 316px;
    left: 240px;

}
.noise{
    width: 50px;
    height: 50px;
    background-color: pink;
    border-radius: 50%;
    position: absolute;
    top:370px;
    left:325px
}
.eye,.leye{
    width: 40px;
    height: 15px;
    /* background-color: black; */
    border-top: 10px solid black;
    border-radius: 30px 30px 0 0;
    position: absolute;
}
.eye{
    left: 285px;
    top: 340px;
}
.leye{
    left: 374px;
    top: 340px;
}
.mouth{
    width: 69px;
    height: 38px;
    position: absolute;
    top:400px;
    left: 316px;
    border-radius: 0 0 50% 50%;
    border-bottom: 35px solid;
    border-color: black;
    opacity: 0.8;
}
.hat .bottom{
    width: 280px;
    height: 60px;
    border-radius: 50px;
    background-color: white;
    position: absolute;
    top: 250px;
    left: 207px;
}
.hat .top{
    width: 200px;
    height: 203px;
    background-color: red;
    position: absolute;
    left: 248px;
    border-radius: 0 110% 0% 0;
    top: 47px;

}
.circular{
    width:50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 220px;
    top: 20px;
}

.content{
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;

}
.images{
    position: absolute;
    top: 0;
    left: -30px;
}
.content::after{
    content: "";
    background-image: url("./images/hat_icon-icons.com_74643.png");
    height: 100px;
    width: 100px;
    z-index: 7;
    position: absolute;
    top:25px;
    right:-5px;
    transform: rotate(35deg) scaleX(-1) translate(-10%,-10%);


}

.title{
    font-family: cursive;
    font-size: 20px;
    color:white;
    padding: 40px 30px;
    backdrop-filter: blur(6px);
    background-color: black;
    border: 2px solid white;
    border-radius: 20px;
    position: relative;
    text-align: center;
 
    
}

.title::first-letter{
    font-size: 30px;
    /* color:black; */
   
}
#smm{
    background-color: #749DE8;
    border-radius: 20px;
    padding: 4px;
}
p{
    font-size: 20px;
    padding-left:10px ;
}
#year{
    display: flex;
    gap: 10px;
    justify-content: center;
}
#year div:nth-child(1){
    font-size: 50px;
    color:rgb(85, 33, 33)!important;
    text-align: center;
}
#year span:nth-child(2){
    font-size: 50px;
    color:rgb(20, 11, 145)!important;
    text-align: center;
}
#year div:nth-child(1){
    font-size: 50px;
    color:rgb(85, 33, 33)!important;
    text-align: center;
    transform: translateX(10px);
    animation: move1 2s infinite;

}
#year div:nth-child(2){
    font-size: 50px;
    color:rgb(20, 11, 145)!important;
    text-align: center;
    transform: translateY(10px);
    animation: move2 2s infinite;
}
#year div:nth-child(3){
    font-size: 50px;
    color:rgb(4, 82, 21)!important;
    text-align: center;
    animation: move1 2s infinite;
}
#year div:nth-child(4){
    font-size: 50px;
    color:rgb(214, 10, 116)!important;
    text-align: center;
    animation: move2 2s infinite;
}
@keyframes move1 {
    50%{
        transform: translateX(-10px);
    }
}
@keyframes move2 {
    50%{
        transform: translateY(-10px);
    }
}
#snow-div{
    position: absolute;
    z-index: 100;
    display: flex;
    left: 0;
    right: 0;
    justify-content: space-between;
    

}
#snow-div-2{
    position: absolute;
    z-index: 100;
    display: flex;
    left: 0;
    right: 0;
    justify-content: space-between;
    
}
#snow-div-3{
    position: absolute;
    z-index: 100;
    display: flex;
    left: 0;
    right: 0;
    justify-content: space-between;
    
}
.snow{
    width:10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.833);
    border:2px solid rgb(228, 218, 218);
    backdrop-filter: blur(6px);
    animation: fill 10s  infinite;
    opacity: 0;   
}
.snow-2{
    width:5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgba(116, 111, 111, 0.866);
    border:2px solid rgb(228, 218, 218);
    backdrop-filter: blur(6px);
    animation: fill 10s  infinite;
    opacity: 0;   
}
.snow-3{
    width:8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.833);
    border:2px solid rgb(228, 218, 218);
    backdrop-filter: blur(6px);
    animation: fill 10s  infinite;
    opacity: 0;   
}

@keyframes fill {
    50%{
        transform: translateY(100vh);
        opacity: 1;
    }
    100%{
        transform: translateY(100vh);
        opacity: 0;
    }
}



@media(max-width:1050px){
    .start{
        flex-direction: column;
    }
}
@media (min-width:300px) and (max-width:500px){
    .container{
        height: 500px;
        transform: scale(0.5);
        animation: moveBla 3s infinite;
    }
    .santa{
        width:300px;
        height: 300px;
        position: absolute;
        top: 270px;
        left:60px;
        transform: rotate(225deg);
      
    
    }
    
    .face{
        width: 221px;
        height: 80px;
        top: 316px;
        left: 100px;
    
    }
    .noise{
        width: 50px;
        height: 50px;
        top:370px;
        left:185px
    }
    .eye,.leye{
        width: 40px;
        height: 15px;
        position: absolute;
    }
    .eye{
        left: 145px;
        top: 340px;
    }
    .leye{
        left: 234px;
        top: 340px;
    }
    .mouth{
        width: 69px;
        height: 38px;
        position: absolute;
        top:400px;
        left: 176px;
    }
    .hat .bottom{
        width: 280px;
        height: 60px;
        top: 250px;
        left: 67px;
    }
    .hat .top{
        width: 200px;
        height: 203px;
        left: 108px;
        top: 47px;
    
    }
    .circular{
        width:50px;
        height: 50px;
        left: 80px;
        top: 20px;
    }
}
@media (min-width:500px) and (max-width:600px){
    .container{
        height: 500px;
        transform: scale(0.6);
        animation: moveBla 3s infinite;
    }
    .santa{
        width:300px;
        height: 300px;
        position: absolute;
        top: 270px;
        left:140px;
        transform: rotate(225deg);
      
    
    }
    
    .face{
        width: 221px;
        height: 80px;
        top: 316px;
        left: 180px;
    
    }
    .noise{
        width: 50px;
        height: 50px;
        top:370px;
        left:265px
    }
    .eye,.leye{
        width: 40px;
        height: 15px;
        position: absolute;
    }
    .eye{
        left: 225px;
        top: 340px;
    }
    .leye{
        left: 314px;
        top: 340px;
    }
    .mouth{
        width: 69px;
        height: 38px;
        position: absolute;
        top:400px;
        left: 256px;
    }
    .hat .bottom{
        width: 280px;
        height: 60px;
        top: 250px;
        left: 147px;
    }
    .hat .top{
        width: 200px;
        height: 203px;
        left: 188px;
        top: 47px;
    
    }
    .circular{
        width:50px;
        height: 50px;
        left: 160px;
        top: 20px;
    }
}
@media (min-width:600px) and (max-width:700px){
    .container{
        height: 500px;
        transform: scale(0.6);
        animation: moveBla 3s infinite;
    }
    .santa{
        width:300px;
        height: 300px;
        position: absolute;
        top: 270px;
        left:210px;
        transform: rotate(225deg);
      
    
    }
    
    .face{
        width: 221px;
        height: 80px;
        top: 316px;
        left: 250px;
    
    }
    .noise{
        width: 50px;
        height: 50px;
        top:370px;
        left:335px
    }
    .eye,.leye{
        width: 40px;
        height: 15px;
        position: absolute;
    }
    .eye{
        left: 295px;
        top: 340px;
    }
    .leye{
        left: 404px;
        top: 340px;
    }
    .mouth{
        width: 69px;
        height: 38px;
        position: absolute;
        top:400px;
        left: 326px;
    }
    .hat .bottom{
        width: 280px;
        height: 60px;
        top: 250px;
        left:217px;
    }
    .hat .top{
        width: 200px;
        height: 203px;
        left: 258px;
        top: 47px;
    
    }
    .circular{
        width:50px;
        height: 50px;
        left: 210px;
        top: 20px;
    }
}

@media (min-width:700px) and (max-width:800px) {

    .container{
        height: 500px;
        transform: scale(0.6);
        animation: moveBla 3s infinite;
    }
    .santa{
        width:300px;
        height: 300px;
        position: absolute;
        top: 270px;
        left:210px;
        transform: rotate(225deg);
      
    
    }
    
    .face{
        width: 221px;
        height: 80px;
        top: 316px;
        left: 250px;
    
    }
    .noise{
        width: 50px;
        height: 50px;
        top:370px;
        left:335px
    }
    .eye,.leye{
        width: 40px;
        height: 15px;
        position: absolute;
    }
    .eye{
        left: 295px;
        top: 340px;
    }
    .leye{
        left: 404px;
        top: 340px;
    }
    .mouth{
        width: 69px;
        height: 38px;
        position: absolute;
        top:400px;
        left: 326px;
    }
    .hat .bottom{
        width: 280px;
        height: 60px;
        top: 250px;
        left:217px;
    }
    .hat .top{
        width: 200px;
        height: 203px;
        left: 258px;
        top: 47px;
    
    }
    .circular{
        width:50px;
        height: 50px;
        left: 210px;
        top: 20px;
    }
    

    
}
@media (min-width:801px) and (max-width:960px) {

    .container{
        height: 500px;
        transform: scale(0.6);
        animation: moveBla 3s infinite;
    }
    .santa{
        width:300px;
        height: 300px;
        position: absolute;
        top: 270px;
        left:300px;
        transform: rotate(225deg);
      
    
    }
    
    .face{
        width: 221px;
        height: 80px;
        top: 316px;
        left: 340px;
    
    }
    .noise{
        width: 50px;
        height: 50px;
        top:370px;
        left:425px
    }
    .eye,.leye{
        width: 40px;
        height: 15px;
        position: absolute;
    }
    .eye{
        left: 385px;
        top: 340px;
    }
    .leye{
        left: 494px;
        top: 340px;
    }
    .mouth{
        width: 69px;
        height: 38px;
        position: absolute;
        top:400px;
        left: 416px;
    }
    .hat .bottom{
        width: 280px;
        height: 60px;
        top: 250px;
        left:307px;
    }
    .hat .top{
        width: 200px;
        height: 203px;
        left: 348px;
        top: 47px;
    
    }
    .circular{
        width:50px;
        height: 50px;
        left: 300px;
        top: 20px;
    }
    

    
}
@media (min-width:960px) and (max-width:1050px) {

    .container{
        height: 600px;
        transform: scale(0.8);
        animation: moveBla 3s infinite;
    }
    .santa{
        width:300px;
        height: 300px;
        position: absolute;
        top: 270px;
        left:400px;
        transform: rotate(225deg);
      
    
    }
    
    .face{
        width: 221px;
        height: 80px;
        top: 316px;
        left: 440px;
    
    }
    .noise{
        width: 50px;
        height: 50px;
        top:370px;
        left:525px
    }
    .eye,.leye{
        width: 40px;
        height: 15px;
        position: absolute;
    }
    .eye{
        left: 485px;
        top: 340px;
    }
    .leye{
        left: 594px;
        top: 340px;
    }
    .mouth{
        width: 69px;
        height: 38px;
        position: absolute;
        top:400px;
        left: 516px;
    }
    .hat .bottom{
        width: 280px;
        height: 60px;
        top: 250px;
        left:407px;
    }
    .hat .top{
        width: 200px;
        height: 203px;
        left: 448px;
        top: 47px;
    
    }
    .circular{
        width:50px;
        height: 50px;
        left: 400px;
        top: 20px;
    }
    

    
}
@keyframes moveBla {
    50%{
        transform: scale(0.7); 
    }
    
}